spring:
  application:
    name: notification-service
  kafka:
    bootstrap-servers: localhost:9092

  cloud:
    stream:
      bindings:
        notificationProducer-out-0:
          destination: notification-queue
      kafka:
        binder:
          brokers: localhost:9092
